<div class="content_top">  
  <div class="beforewrap">
    <div class="title">
      <div class="pannelleft00">
      </div>
        <p class="title1">Rew-generation</p>
        <p class="titlep">ー留学のその先を伝えるメディアーtest</p>
      <div class="pannelright00">
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="top">
      <%= image_tag 'header.png', :width => '100%', :height => '100%' %>
    </div>

    <div class="articlewrap">
        <div id="nav_show">
            <div><%= image_tag 'nav.png', :width => '100%', :height => '100%' %></div>
            <div id="aboutus">
                <a href="#"><%= image_tag 'abus.png', :width => '100%', :height => '100%' %></a>
            </div>
            <div id="article">
                <a href="Rew-generation-allarticle.html"><%= image_tag 'article.png', :width => '100%', :height => '100%' %></a>
            </div>
            <div id="contact">
                <a href="#"><%= image_tag 'con.png', :width => '100%', :height => '100%' %></a>
            </div>
        </div>
    </div>

    <div id="pickup">
      <ul>
        <% @articles.each_with_index do |article, i| %>
        <li class="pickup">
          <a href="Rew-generation-article.html">
            <div>
              <div><%= image_tag article.photo1, :width => '100%', :height => '100%' %></div>
            </div>
            <figcaption>
              <h3><%= article.title %></h3>
              <p><%= truncate(article.summary, omission: '・・・', length: 60) %></p>
            </figcaption>
          </a>
        </li>
        <% end %>
      </ul>
    </div>




    <div class="recommend">
      <%= image_tag 'recommend.png', :width => '100%', :height => '100%' %>
      <div class="recommend01">
        <%= image_tag 'recommend01.jpg', :width => '100%', :height => '100%' %>
      </div>
      <div class="recommend02">
        <%= image_tag 'recommend02.jpg', :width => '100%', :height => '100%' %>
      </div>
      <div class="recommend03">
        <%= image_tag 'recommend03.jpg', :width => '100%', :height => '100%' %>
      </div>
      <div class="recommend04">
        <%= image_tag 'recommend04.jpg', :width => '100%', :height => '100%' %>
      </div>
    </div>


    <div id="newtop">
      <div id="newmain">

        <div class="toparticletitle">
          <div class="topborderleft">
          </div>
          <div class="newnoborder">
            <h2>NEW ARTICLE</h2>
          </div>
          <div class="topborderright">
          </div>
        </div>


<!--         <div style="width: 47%;  height: 40%;">   
 -->
          <% @articles.each_with_index do |article, i| %>
            <% if i%2 == 0 %>
              <div class="newcontents">
                <a href="/articles/<%= article.id %>">
                  <div class="topcontentsimg">
                    <div><%= image_tag article.photo1, :width => '78%', :height => '40%' %>
                    </div>
                  </div>
                  <div class="topcontentsex">
                    <h3><%= article.title %></h3>
                    <p class="topdate">Jul.17.2015</p>
                  </div>
                  <div class="left">
                  </div>
                  <div class="right">
                  </div>
                  <div class="cover">
                  </div>
                  <p class="more">READ MORE</p>
                </a>
              </div>
            <% end %>
          <% end %>

<!--         </div>

        <div style="width: 47%;  height: 40%; margin-left: 54%;"> -->

          <% @articles.each_with_index do |article, i| %>
            <% if i%2 == 1 %>
              <div class="newcontents_right">
                <a href="/articles/<%= article.id %>">
                  <div class="topcontentsimg">
                    <%= image_tag article.photo1, :width => '100%', :height => '100%' %>
                  </div>
                  <div class="topcontentsex">
                    <h3><%= article.title %></h3>
                    <p class="topdate">Jul.17.2015</p>
                  </div>
                  <div class="left">
                  </div>
                  <div class="right">
                  </div>
                  <div class="cover">
                  </div>
                  <p class="more">READ MORE</p>
                </a>
              </div>
            <% end %>
          <% end %>
        <!-- </div> -->
              

        <div class="toparticlenext">
          <div class="btnborderleft">
          </div>
          <a href="Rew-generation-allarticle.html">
            <div class="btnnoborder">
              <h3>VIEW MORE ARTICLE</h3>
            </div>
          </a>
          <div class="btnborderright">
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <div class="twitterbar">
        <a href="#">
          <%= image_tag 'twitter.jpg', :width => '100%', :height => '100%' %>
        </a>
      </div>
      <div class="facebookbar">
        <a href="https://www.facebook.com/pages/Rew-generation/103660453314373">
          <%= image_tag 'facebook.jpg', :width => '100%', :height => '100%' %>
        </a>
      </div>
      <div class="googlebar">
        <a href="#">
          <%= image_tag 'google.jpg', :width => '100%', :height => '100%' %>
        </a>
      </div>
    </div>


    <footer>
      <%= image_tag 'footer.png', :width => '100%', :height => '100%' %>
      <div class="what">
        <a href="#">
          <div id="what">
            <%= image_tag 'what.png', :width => '100%', :height => '100%' %>
          </div>
        </a>
      </div>
      <div class="team">
        <a href="#">
          <div id="team">
            <%= image_tag 'team.png', :width => '100%', :height => '100%' %>
          </div>
        </a>
      </div>
      <div class="e-mail">
        <a href="#">
          <div id="e-mail">
            <%= image_tag 'e-mail.png', :width => '100%', :height => '100%' %>
          </div>
        </a>
      </div>
    </footer>
  </div>



<!-- <br><br><br><br><br><br>
 -->
<br>

</div> <!-- End of the content_top -->
