<div class="content_show">
    <div class="articlewrap">
        <div class="top_show">
            <p><a href="#">Rew-generation<span> ー留学のその先を伝えるメディアー</span></a></p>
        </div>
        <div id="nav_show">
            <div><%= image_tag 'nav.png', :width => '100%', :height => '100%' %></div>
            <div id="aboutus">
                <a href="#"><%= image_tag 'abus.png', :width => '100%', :height => '100%' %></a>
            </div>
            <div id="article">
                <a href="Rew-generation-allarticle.html"><%= image_tag 'article.png', :width => '100%', :height => '100%' %></a>
            </div>
            <div id="contact">
                <a href="#"><%= image_tag 'con.png', :width => '100%', :height => '100%' %></a>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="articletop">
            <div id="articlemain">
                <div class="main">
                    <div class="articletitle">
                        <p class="updatetime"><%= @article.updated_at %>, <%= @article.created_at %></p>
                        <h1><%= @article.title %></h1>
                    </div>
                    <div class="mainimage"><%= image_tag @article.photo_top, :width => '80%', :height => '80%' %></div>
                    <div class="snsbox">
                        <div class="snsfb">
                        </div>
                        <div class="snstw">
                        </div>
                    </div>
                    <div class="beforecontents">
                        <p><%= @article.summary %></p>
                    </div>

                    <div class="articlecontents">
                        <div class="sideline">
                        </div>

                        <% if @article.subtitle1.empty? == false %>
                        <h2><span>01.</span><%= @article.subtitle1 %></h2>
                        <div class="mainimage"><%= image_tag @article.photo1, :width => '80%', :height => '80%' %></div>
                        <p><%= simple_format(@article.para1) %></p><br>
                        <% end %>

                        <% if @article.subtitle2.empty? == false %>
                        <h2><span>02.</span><%= @article.subtitle2 %></h2>
                        <div class="mainimage"><%= image_tag @article.photo2, :width => '80%', :height => '80%' %></div>
                        <p><%= simple_format(@article.para2) %></p><br>
                        <% end %>

                        <% if @article.subtitle3.empty? == false %>
                        <h2><span>03.</span><%= @article.subtitle3 %></h2>
                        <div class="mainimage"><%= image_tag @article.photo3, :width => '80%', :height => '80%' %></div>
                        <p><%= simple_format(@article.para3) %></p><br>
                        <% end %>

                        <% if @article.subtitle4.empty? == false %>
                        <h2><span>04.</span><%= @article.subtitle4 %></h2>
                        <div class="mainimage"><%= image_tag @article.photo4, :width => '80%', :height => '80%' %></div>
                        <p><%= simple_format(@article.para4) %></p>
                        <% end %>

                        <% if @article.subtitle5.empty? == false %>
                        <h2><span>05.</span><%= @article.subtitle5 %></h2>
                        <div class="mainimage"><%= image_tag @article.photo5, :width => '80%', :height => '80%' %></div>
                        <p><%= simple_format(@article.para5) %></p>
                        <% end %>


                    </div>
                    <div class="snsbox">
                        <div class="snsfb">
                        </div>
                        <div class="snstw">
                        </div>
                    </div>
                    <div class="divide">
                    </div>


                    <% @articles_topthree.each_with_index do |article, i| %>
                        <div class="relatedarticle">
                            <a href="/articles/<%= article.id %>">
                                    <%= image_tag article.photo1, :width => '100%', :height => '100%' %>
                                <p class="subtime">2015.07.26.Sun</p>
                                <p class="subrelate"><strong><%= article.title %></strong></p>
                            </a>
                        </div>
                    <% end %>


                    <div class="divide">
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar_show">
            <div class="twitterbar">
                <a href="#">
                    <%= image_tag 'twitter.jpg', :width => '100%', :height => '100%' %>
                </a>
            </div>
            <div class="facebookbar">
                <a href="#">
                    <%= image_tag 'facebook.jpg', :width => '100%', :height => '100%' %>
                </a>
            </div>
            <div class="googlebar">
                <a href="#">
                    <%= image_tag 'google.jpg', :width => '100%', :height => '100%' %>
                </a>
            </div>
<!--             <div id="recommendbar_show">
                <h2>PICK UP</h2>
                <div class="pickup_show">
                    <a href="#">
                        <div class="pickupimg">
                            <%= image_tag @article.photo2, :width => '80%', :height => '80%' %>
                        </div>
                        <div class="pickupex">
                            <h3><%= @article.title %></h3>
                        </div>
                    </a>
                </div>
                <div class="pickup_show">
                    <a href="#">
                        <div class="pickupimg">
                            <%= image_tag @article.photo2, :width => '80%', :height => '80%' %>
                        </div>
                        <div class="pickupex">
                            <h3><%= @article.title %></h3>
                        </div>
                    </a>
                </div>
                <div class="pickup_show">
                    <a href="#">
                        <div class="pickupimg">
                            <%= image_tag @article.photo2, :width => '80%', :height => '80%' %>
                        </div>
                        <div class="pickupex">
                            <h3><%= @article.title %></h3>
                        </div>
                    </a>
                </div>
                <a href="#"><p>MORE</p></a>
            </div> -->
        </div>
        
        <div class="footer">
        <footer>
            <%= image_tag 'footer.png', :width => '100%', :height => '100%' %>
                <div class="what">
                    <a href="#">
                        <div id="what">
                            <%= image_tag 'what.png', :width => '100%', :height => '100%' %>
                        </div>
                    </a>
                </div>
                <div class="team">
                    <a href="#">
                        <div id="team">
                            <%= image_tag 'team.png', :width => '100%', :height => '100%' %>
                        </div>
                    </a>
                </div>
                <div class="e-mail">
                    <a href="#">
                        <div id="e-mail">
                            <%= image_tag 'e-mail.png', :width => '100%', :height => '100%' %>
                        </div>
                    </a>
                </div>
        </footer>
        </div>
    </div>


<script>
    var heightmain = $("#articletop").height();
    $("div.content_show").css("height", heightmain+300);
</script>


</div> <!-- End of the content_show -->
