    <div class="articlewrap">
        <div class="top">
            <p>Rew-generation<span>ー留学のその先を伝えるメディアー</span></p>
        </div>
        <div id="nav">
            <%= image_tag 'nav.png', :width => '100%', :height => '100%' %>
            <div id="aboutus">
                <a href="#"><%= image_tag 'abus.png', :width => '100%', :height => '100%' %></a>
            </div>
            <div id="article">
                <a href="Rew-generation-allarticle.html"><%= image_tag 'article.png', :width => '100%', :height => '100%' %></a>
            </div>
            <div id="contact">
                <a href="#"><%= image_tag 'con.png', :width => '100%', :height => '100%' %></a>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="articletop">
            <div id="articlemain">
                <div class="main">
                    <div class="articletitle">
                        <p class="updatetime">2015.07.25.Sat<%= @article.title %></p>
                        <h1>帰り道の方が早く感じるのはなぜか？オランダの大学による研究結果</h1>
                    </div>
                    <div class="mainimage"><%= image_tag @article.photo1, :width => '100%', :height => '100%' %></div>
                    <div class="snsbox">
                        <div class="snsfb">
                        </div>
                        <div class="snstw">
                        </div>
                    </div>
                    <div class="beforecontents">
                        <p><%= @article.para1 %></p>
                    </div>
                    <div class="articlecontents">
                        <div class="sideline">
                        </div>
                        <h2><span>01.</span>「慣れ」は関係ない</h2>
                        <p>2011年、科学誌「Springer」に掲載されたオランダ・ティルブルグ大学が行った3つの実験結果から分かった研究結果によれば、帰り道が短く感じる理由は慣れではないようです。</p>
                        <p>毎日のルーチンは新しい体験よりも作業が楽になるため、一度経験したことのある往路よりも早く辿り着くことができるのでは？という推測がなされましたが、移動時間や道を覚えているかどうかは関係なかったと言います。</p>
                        <p>1つ目の実験では、69名を対象に時間感覚を検証。同じ距離を車に乗って往復したところ、全ての参加者が帰り道を短く感じていました。もちろん移動時間は変わっていません。</p>
                        <p>さらに、路上の様子を覚えている人は少なく、道に慣れたということは実証できませんでした。</p>
                        <p><img src="images/bike01.jpg"></p>
                        <h2><span>02.</span>新しく通る道でも短く感じる</h2>
                        <p>さらに、帰り道が行きと同じ道かどうかも、関係ないことがわかっています。</p>
                        <p>2つ目の調査では、93名を対象に自転車を使ってある道を往復する実験を実施。一部の参加者には、行き帰りで別のルートを走ってもらいました。が、帰り道に別のルートを使った場合でも、時間を短く感じる効果が現れました。</p>
                        <p>この結果からも、行き帰りの道が同じかどうかや、道に対する慣れが関係ないことがわかります。</p>
                        <h2><span>03.</span>帰り道を短く感じる理由は「予測」にあった！</h2>
                        <p>これまでの調査結果から、この効果の原因が道に依存するものではないということが言えます。さらに調査を進めていくと、帰り道を短く感じる効果の原因は慣れよりも往復にかかる時間の「予測」にあることがわかりました。</p>
                        <p>3つ目の調査では、139名の参加者を対象に、自転車で目的地へと移動する人の様子を捉えたビデオを見てもらいました。その際、映像に登場するライダーが、元に場所に戻ることになった時にどれくらいの時間がかかるのかを予測してもらいました。もちろん移動する距離は往路と同じです。</p>
                        <p>ちなみに、この調査は、行きの予測が帰り道の時間感覚に影響しているのではないかという推測のもとに行われたもの。これまでの調査でほとんどの参加者が往路にかかる時間を少なく見積もっており、到着までにかかる時間を長く感じている傾向があったのです。</p>
                        <p><img src="images/bike02.jpg"></p>
                        <p>この調査でライダーが往路にかけた時間は7分。しかし、復路に対する参加者の予測は殆どの場合、9分ほどという結果に。誰もが復路にかかる時間を余分に計算していることがわかりました。</p>
                        <p>さらに、参加者に対して「初めて通る道は、思った以上に時間がかかるものだ」と事前に伝えたところ、このリターン・トリップ・エフェクトの効果は消失。</p>
                        <p>これらの調査結果から、以下の5つのことがまとめとして言えます。</p>
                        <p>01.人は往路にかかる時間を短く見積もっている。</br>
                        02.予測した時間よりも、実際にかかる時間が長くなる。</br>
                        03.その経験から、復路にかかる時間を過剰に見積もる。</br>
                        04.結果、帰り道は予測よりも早く目的地に到着する。</br>
                        05.行きよりも帰り道のほうが短い、という感覚を覚える。</p>
                        <p>つまり、行きの予定時間を短く見積りすぎていることが原因で、帰り道の感覚までもが変わっていたということなんですね。これって、せっかちな人ほどその感覚が強くなるということなのでしょうか？</p>
                        <p>ちなみに、この研究は今も世界中で調査が進められているもの。今後も認知機能との関連性など新たな発見があるかもしれません。</p>
                        <p>もしかしたら、性格などによってもこのリターントリップエフェクトを感じる人とそうでない人は分かれるのかもしれませんね。</p>
                    </div>
                    <div class="snsbox">
                        <div class="snsfb">
                        </div>
                        <div class="snstw">
                        </div>
                    </div>
                    <div class="divide">
                    </div>
                    <div class="related">
                        <h2>RELATED</h2>
                        <div class="relatedarticle">
                            <a href="#">
                                <div class="subimg">
                                    <img src="images/trip5.jpg">
                                </div>
                                <p class="subtime">2015.07.26.Sun</p>
                                <p class="subrelate"><strong>旅行者必見！時差ぼけにならない５つのコツ</strong></p>
                            </a>
                        </div>
                        <div class="relatedarticle">
                            <a href="#">
                                <div class="subimg">
                                    <img src="images/trip5.jpg">
                                </div>
                                <p class="subtime">2015.07.26.Sun</p>
                                <p class="subrelate"><strong>旅行者必見！時差ぼけにならない５つのコツ</strong></p>
                            </a>
                        </div>
                        <div class="relatedarticle">
                            <a href="#" style="text-decorarion:none;">
                                <div class="subimg">
                                    <img src="images/trip5.jpg">
                                </div>
                                <p class="subtime">2015.07.26.Sun</p>
                                <p class="subrelate"><strong>旅行者必見！時差ぼけにならない５つのコツ</strong></p>
                            </a>
                        </div>
                        <div class="relatedarticle">
                            <a href="#" style="text-decorarion:none;">
                                <div class="subimg">
                                    <img src="images/trip5.jpg">
                                </div>      
                                <p class="subtime">2015.07.26.Sun</p>
                                <p class="subrelate"><strong>旅行者必見！時差ぼけにならない５つのコツ</strong></p>
                            </a>
                        </div>
                    </div>
                    <div class="divide">
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <div class="twitterbar">
                <a href="#">
                    <img src="images/twitter.jpg">
                </a>
            </div>
            <div class="facebookbar">
                <a href="#">
                    <img src="images/facebook.jpg">
                </a>
            </div>
            <div class="googlebar">
                <a href="#">
                    <img src="images/google.jpg">
                </a>
            </div>
            <div id="recommendbar">
                <h2>PICK UP</h2>
                <div class="pickup">
                    <a href="#">
                        <div class="pickupimg">
                            <img src="images/trip4.jpg">
                        </div>
                        <div class="pickupex">
                            <h3>旅行者必見！時差ぼけにならない５つのコツ</h3>
                        </div>
                    </a>
                </div>
                <div class="pickup">
                    <a href="#">
                        <div class="pickupimg">
                            <img src="images/trip4.jpg">
                        </div>
                        <div class="pickupex">
                            <h3>旅行者必見！時差ぼけにならない５つのコツ</h3>
                        </div>
                    </a>
                </div>
                <div class="pickup">
                    <a href="#">
                        <div class="pickupimg">
                            <img src="images/trip4.jpg">
                        </div>
                        <div class="pickupex">
                            <h3>旅行者必見！時差ぼけにならない５つのコツ</h3>
                        </div>
                    </a>
                </div>
                <a href="#"><p>MORE</p></a>
            </div>
        </div>
        
        <footer>
            <img src="images/footer.png">
                <div class="what">
                    <a href="#">
                        <div id="what">
                            <img src="images/what.png">
                        </div>
                    </a>
                </div>
                <div class="team">
                    <a href="#">
                        <div id="team">
                            <img src="images/team.png">
                        </div>
                    </a>
                </div>
                <div class="e-mail">
                    <a href="#">
                        <div id="e-mail">
                            <img src="images/e-mail.png">
                        </div>
                    </a>
                </div>
        </footer>
    </div>

    
</body>












<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Para1:</strong>
  <%= @article.para1 %>
</p>

<p>
  <strong>Para2:</strong>
  <%= @article.para2 %>
</p>


<p>
   <strong>Picture:</strong>
   <!--- Modelのstyleで指定した :midium など渡すことでサイズを指定できる -->
   <%= image_tag @article.photo1.url(:medium) %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
